/* Css for body */
body {
    overflow-x: hidden;
    background-attachment: fixed;
    background-color: rgb(224, 250, 250);
}

/* Css for nav , article or footer section */


nav {
    position: fixed;
    background-color: black;
    width: 1349.4px;
    height: 120px;
    margin-top: -8em;
    margin-left: -0.5em;

}


nav a {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-style: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 1em;

}


.nav4 {
    margin-left: -1em;
    width: 1379.1px;
    height: 380px;
    background-color: rgb(255, 145, 0);
}

.nav5 {
    margin-left: -1em;
    width: 1379.1px;
    height: 440px;
    background-color: rgb(255, 255, 255);
}

.nav6 {
    margin-top: 13em;
    margin-left: -1em;
    width: 1417.3px;
    height: 410px;
    background-color: rgb(250, 152, 6);
}

section {
    margin-left: 14em;
    position: sticky;

    width: 850px;
    margin-top: -7em;
    display: inline-block;
    height: 350px;
    background-color: rgb(250, 250, 250);
    position: static;

}


article {
    margin-left: 4em;
    margin-top: 4em;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    position: static;
    display: inline-block;

}


.div44 {
    position: static;
    margin-left: 48.1em;
    position: static;
    margin-top: -20.4em;
    width: 500px;
    color: black;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

.footer {

    width: 1369px;
    margin-left: -3.5em;
    height: 360px;
    margin-top: 5em;
    background-color: rgb(70, 70, 70);

}

.footer1 {
    width: 1357px;
    height: 90px;
    margin-top: -0.5em;
    margin-left: -3.5em;
    background-color: rgb(3, 3, 3);

}

/* Css for img tag */

.i2 {
    margin-left: 9em;
    width: 490px;
    height: 330px;
}

.i3 {
    display: inline-block;
    position: static;
    margin-left: 3em;
    width: 490px;
    height: 330px;
}


.i5 {
    width: 361px;
    height: 150px;
    margin-left: 6.8em;
}

.i6 {
    width: 361px;
    height: 150px;
    margin-left: 0.9em;
}

.i4 {
    width: 361px;
    height: 150px;
    margin-left: 2.26em;
}

.i7 {
    width: 150px;
    height: 120px;
    margin-left: 1.26em;
    margin-top: 2em;
}

.i8 {
    width: 150px;
    height: 120px;
    margin-left: 3.26em;
}

.i9 {
    width: 150px;
    height: 120px;
    margin-left: 3.26em;
}

.i10 {
    width: 151px;
    height: 120px;
    margin-left: 3.26em;
}

/* portfolio img css */


.i22 {
    margin-left: -19em;
    width: 340px;
    height: 210px;
}

.i23 {
    margin-left: 14.56em;
    width: 340px;
    height: 210px;
    display: flex;
    margin-top: -9.16em;
}

.i24 {
    margin-left: 24.89em;
    width: 340px;
    height: 210px;
    display: flex;
    margin-top: -8.68em;
}

.i25 {
    margin-left: 4.27em;
    width: 340px;
    height: 210px;
    display: flex;
    margin-top: 1em;
}

.i26 {

    margin-left: 14.64em;
    width: 340px;
    height: 210px;
    display: flex;
    margin-top: -10.07em;
}


.i27 {
    margin-left: 25em;
    width: 340px;
    height: 210px;
    display: flex;
    margin-top: -8.72em;
}












/* Css for div tag */

div img {
    width: 1100px;
    height: 400px;
    margin-left: 1em;
}



div,
h2 {
    font-size: 38px;
    text-align: center;
    color: rgb(128, 128, 128);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 1.5em;
    margin-top: 2.6em;
}

.div3 {
    width: 590px;
    height: 280px;
    margin-top: -0.1em;
    margin-left: 8.9em;
    background-color: (224, 250, 250);

}

.div4 {
    width: 360px;
    height: 225px;
    margin-top: -0.78em;
    margin-left: 2.9em;
    background-color: rgb(230, 228, 228);
}

.div5 {
    width: 360px;
    height: 250px;
    margin-top: -6.58em;
    margin-left: 12.85em;
    background-color: rgb(230, 228, 228);

}

.div6 {
    width: 360px;
    height: 225px;
    margin-top: -7.16em;
    margin-left: 23.44em;
    background-color: rgb(230, 228, 228);

}

.div7 {
    width: 1349px;
    background-color: rgb(255, 217, 217);
    height: 400px;
    font-size: 38px;
    text-align: center;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -0.2em;
    margin-top: 2.6em;
}

.div9 {
    width: 1387px;
    background-color: rgb(231, 224, 224);
    height: 1900px;
    font-size: 38px;
    text-align: center;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -0.2em;
    margin-top: 1.6em;
}

.div10 {
    width: 470px;
    height: 380px;
    margin-top: -0.78em;
    margin-left: 4.4em;
    background-color: rgb(255, 255, 255);
}

.div11 {
    width: 470px;
    height: 320px;
    margin-top: -10em;
    margin-left: 18.90em;
    background-color: rgb(184, 184, 184);
}








/* Css for p tag */

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;
    color: gray;
    letter-spacing: 1px;
}

.p1 {
    font-size: 18px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;

}

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;
}

.p2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    float: right;
    letter-spacing: 1px;
    color: black;
    font-family: cursive;
    margin-left: 1em;
}

.p7 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 1em;
    color: black;
    font-family: cursive;
    margin-left: 17em;
    margin-right: 17em;
}

.p6 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    float: right;

    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;
}

.p8 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    float: right;
    margin-top: -0.2em;
    color: rgb(238, 232, 232);
    margin-right: 31.6em;
    text-align: left;

}

/* css for h1 or other h tags */

h3 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1em;
    color: rgb(128, 126, 126);
    font-size: 25px;
    letter-spacing: 1px;
}

.h11 {

    font-family: cursive;
    font-size: 38px;
    margin-left: 60px;
    margin-top: 0.2em;
    letter-spacing: 5px;
    color: white;
}

.h33 {
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1em;
    letter-spacing: 6px;
    text-align: center;
    margin-top: -1em;
    color: rgb(85, 84, 84);
}

.h4 {
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1em;
    color: rgb(32, 32, 32);
}

.h6 {
    font-size: 40px;
    color: rgb(109, 109, 109);
    word-spacing: 10px;
    letter-spacing: 5px;
    margin-top: 1em;
    text-align: center;
    margin-left: 1.7m;
}

.h7 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30.9em;
    letter-spacing: 1px;
    margin-top: -3.5em;
    color: rgb(255, 255, 255);
}

hr {
    width: 70px;
    margin-left: 24.3em;
}

.h8 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -51.69em;
    margin-top: -8.6em;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.h9 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 26.1em;
    margin-top: -15.69em;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.h14 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -3.899em;
    margin-top: -1.85em;
    color: rgb(255, 255, 255);
}

.h15 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5.5em;
    margin-top: -1.85em;
    color: rgb(255, 255, 255);
}

.h16 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15.3em;
    margin-top: -1.84em;
    color: rgb(255, 255, 255);
}

.h17 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -36.9em;
    margin-top: -1.3em;
    color: rgb(255, 255, 255);
}

.h13 {
    margin-right: 15em;
    color: white;
    margin-top: -0.2em;
    font-size: 55px;
}

.h18 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -11em;
    margin-top: -1.85em;
    color: rgb(255, 255, 255);
}

.h19 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15.3em;
    margin-top: -2.03em;
    color: rgb(255, 255, 255);
}

.h20 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 41.8em;
    margin-top: -1.9em;
    color: rgb(255, 255, 255);
}



/* Css for btn's  */

.btn1 {

    width: 200px;
    height: 50px;
    border: 1px solid white;
    background-color: rgb(255, 236, 236);
    color: rgb(255, 114, 20);
    font-size: 22px;
    margin-top: -30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.btn2 {

    width: 150px;
    height: 40px;
    border: 1px solid white;
    background-color: grey;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 0.8em;
    margin-left: -11.3em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.btn3 {

    width: 120px;
    height: 35px;
    border: 1px solid white;
    background-color: grey;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: 1em;
}

.btn4 {

    width: 120px;
    height: 35px;
    border: 1px solid white;
    background-color: grey;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: 1em;
}

.btn5 {

    width: 120px;
    height: 35px;
    border: 1px solid white;
    background-color: grey;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: 1em;
}

/* css for hr tag */

.hr1 {
    width: 100px;
    height: 17x;
    border: 2px solid grey;
    border-radius: 9px solid grey;
    margin-left: 36.7em;

}

.hr2 {
    width: 100px;
    height: 17x;
    border: 2px solid rgb(78, 75, 75);
    border-radius: 9px solid grey;
    margin-left: 16.69em;
    margin-top: -10px;


}

.hr3 {
    width: 100px;
    height: 17x;
    border: 2px solid grey;
    border-radius: 9px solid grey;
    margin-left: 17.28em;

}

.hr4 {
    width: 100px;
    height: 17x;
    border: 2px solid grey;
    border-radius: 9px solid grey;
    margin-left: 17.4em;

}

.hr5 {
    width: 70px;
    height: 17x;
    margin-left: 24.33em;
    display: flex;
    margin-top: 1em;
}

.hr6 {
    width: 70px;
    margin-left: 3.22em;
    margin-top: -10px;

}

.hr7 {
    width: 70px;
    margin-left: 13.80em;
    margin-top: -10px;

}

.hr8 {
    width: 290px;
    margin-top: 5px;
    margin-left: 0em;
}

.hr9 {
    width: 290px;
    margin-top: 5px;
    margin-left: 0em;
}

.hr10 {
    width: 290px;
    margin-top: 6px;
    margin-left: 0em;
}

.hr11 {
    width: 290px;
    margin-top: 5px;
    margin-left: 0em;
}

.hr12 {
    width: 290px;
    margin-top: 5px;
    margin-left: 0em;
}

/*  css for paddting tag (pd) */

.pd1 {
    width: 340px;
    height: 120px;
    margin-top: -3.7em;
    margin-left: 10.19em;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: cursive;
}

.pd2 {
    width: 340px;
    height: 120px;
    margin-top: -6.48em;
    margin-left: 34.59em;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: cursive;

}

.pd3 {
    font-size: 16px;
    width: 340px;
    height: 120px;
    margin-top: -6.38em;
    margin-left: 59.10em;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
}

.pd4 {
    font-size: 16px;
    width: 340px;
    height: 120px;
    margin-top: -6.37em;
    margin-left: 10.20em;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
}

.pd5 {

    font-family: cursive;
    font-size: 16px;
    width: 340px;
    height: 120px;
    margin-top: -6.35em;
    margin-left: 34.99em;
    background-color: rgb(255, 255, 255);
}

.pd6 {
    font-family: cursive;
    font-size: 16px;
    width: 340px;
    height: 120px;
    margin-top: -6.39em;
    margin-left: 59.35em;
    background-color: rgb(252, 252, 252);
}

/* css for input tags */

.inp1 {

    outline: none;
    width: 190px;
    margin-top: 30px;
    margin-left: 10px;
    height: 40px;
    border-top: 2px solid rgb(201, 199, 199);
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid rgb(201, 199, 199);
    border-bottom: 2px solid rgb(201, 199, 199);
}

.inp2 {
    outline: none;
    width: 190px;
    height: 40px;

    border-top: 2px solid rgb(201, 199, 199);
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(201, 199, 199);
    border-left: 2px solid white;
}

.inp3 {
    outline: none;
    width: 397px;
    height: 40px;
    margin-left: 37px;
    border-top: 2px solid rgb(201, 199, 199);
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgb(201, 199, 199);
    margin-right: 14em
}

.inp4 {
    outline: none;
    width: 397px;
    height: 140px;
    border-top: 2px solid rgb(201, 199, 199);
    border-bottom: 2px solid rgb(201, 199, 199);
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin-left: 0.7em;
    margin-top: 1em;

}

.inp5 {


    width: 250px;
    height: 35px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid transparent;
    background-color: transparent;
    margin-left: 55.2em;
    outline: none;
    cursor: text;
    color: white;


}

.btn7 {

    display: grid;
    width: 150px;
    height: 39px;

    border: 1px solid white;
    border-top: 7px solid white;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 47, 47);
    font-size: 19px;
    text-align: center;
    margin-left: 60.1em;
    margin-top: -2.04em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}



.a2 {
    font-size: 18px;
    display: grid;
    color: white;
    margin-left: 6.8em;
    margin-top: -0.5em;
    align-items: center;

}

.a2,
a {
    text-decoration: none;
    color: white;
    text-align: left;
}

/* css for hover  */

nav a:hover {
    width: 100px;
    height: 32px;
    text-align: center;
    background-color: white;
    border-top: 5px solid white;
    border: 2 px solid black;
    color: orange;
}


.btn1:hover {
    background-color: rgb(46, 46, 46);
    color: white
}

.btn2:hover {
    background-color: orange;
    color: white
}

.btn3:hover {
    background-color: orange;
    color: white
}

.btn4:hover {
    background-color: orange;
    color: white
}

.btn5:hover {
    background-color: orange;
    color: white
}

.btn7:hover {
    background-attachment: fixed;
    background-color: rgb(255, 143, 68);
    color: #ffff
}

.inp1:hover {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.inp2:hover {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.inp3:hover {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.inp4:hover {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

 
@media screen and ( max-width:502px) {

    div img {
        width: 1000px;
        height: 400px;
        margin-left: 5.31em;
    }

    section {
        margin-left: 23.2em;
        margin-top: -60px;
        height: 500px;
        width: 700px;
    }






    @media screen and (max-width: 992px) {
        body {
            background-color: rgb(238, 238, 238);
            width: 600px;


        }

        nav a {
            font-size: 20px;
            font-family: cursive;
        }

        img,
        logo {
            width: 14%;


        }


        div,
        h2 {
            text-align: right;
            margin-right: -2.5em;
            margin-top: 110px;
            letter-spacing: 1px;
            margin-bottom: -42px;
        }

        nav {

            width: 100%;
        }

        .i2 {
            margin-top: 4em;
        }


        .i3 {
            position: static;
            display: flex;
            margin-left: 43em;
            margin-top: -20.6em;
        }


        .hr1 {
            margin-left: 16.3em;
            margin-top: 1.6em;
        }

        article {
            position: static;
            margin-left: 9em;
            height: 450px;
            margin-top: -2 em;
            margin-bottom: 10px solid white;
        }

        .div44 {
            border-top: 40px solid white;
            position: static;
            height: 450px;
            width: 490px;
            margin-left: 43em;
            margin-top: -28em;
            border-bottom: 120px transparent;

        }


        .btn4 {
            margin-left: 4.3em;
        }

        .btn5 {
            margin-left: 3.3em;
        }

        h3 {
            margin-left: 3.8em;
        }

        .h03 {
            margin-left: 2.7em;
            font-size: 26px;
            margin-top: -20px;
        }

        div,
        h2 {

            margin-left: 20px;
        }

        .p001 {
            margin-left: 4em;
            margin-right: 4em;
            font-size: 20px;

            font-family: cursive;
        }

        .p01 {
            margin-left: 2em;
            margin-right: 2em;
            font-size: 16px;

            font-family: cursive;
        }

        .p2 {

            font-size: 20px;
            margin-top: 60px;
        }

        .p1 {
            margin-left: 3em;
            margin-right: 3em;
            font-size: 20px;
            color: rgb(121, 121, 121);
            font-family: cursive;
        }

        .btn3 {
            margin-left: 2em;
        }

        @media screen and (max-width: 600px) {}

    }
}

/* outline none used to hide text input lines in input field */